<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить</title>
</head>
<body>
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(value=item.name) }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(value=item.description) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{ url_for('item.list') }}">Назад</a>
</body>
</html>
